html {
  font-family: "Fredoka One", sans-serif;
  background: repeating-linear-gradient(-30deg, #b3fbff, #d4fdff 19px);
}

.banner {
  border-top: solid 10px #c9fcff;
  border-bottom: solid 10px #c9fcff;
}

.banner-content {
  max-width: 19em;
  transform-origin: left center;
  transform: rotate(-5deg);
}

h1 {
  color: #990073;
}

p {
  color: #c09;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
  margin-left: .5em;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .2);
  border-color: #990073;
  color: #c09;
}

.cherry {
  transform: translateY(-1090px);
}

.vanilla {
  transform: translateY(-700px);
}

.choco {
  transform: translateY(-330px) translateX(25px);
}

.mint {
  transform: translateY(300px);
}

.cone {
  transform: translateY(185px);
  animation: cone-a 1s ease-in;
}

@keyframes cone-a {

  0% {
    transform: translateY(-100em);
  }

  40% {
    transform: translateY(-50em);
  }

  80% {
    transform: translateY(50em);
  }

  100% {
    transform: translate(185em);
  }
}

@keyframes forwards {

  0% {
    transform: translateY(-1000em);
  }

  40% {
    transform: translateY(-500em);
  }

  80% {
    transform: translateY(-10em);
  }

  100% {
    transform: translate(0em);
  }
}

.ice-cherry {
  animation: forwards 1s 2s linear;
}

.ice-vanilla {
  animation: forwards 1s 2s linear;
}

.ice-choco {
  animation: forwards 1s 2s linear;
}

.ice-mint {
  animation: forwards 1s 2s linear;
}

.ice-cone {
  animation: forwards 1s 2s linear;
}
