html {
  font-family: "Fredoka One", sans-serif;
  background: repeating-linear-gradient(-30deg, #b3fbff, #c9fcff 19px);
}

.banner-content {
  max-width: 19em;
  transform-origin: left center;
  transform: rotate(-5deg);
}

h1 {
  color: #990073;
}

p {
  color: #c09;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  transition: color 1s linear;
}

.btn-ghost:hover {
  background-color: #c09;
}

.cherry {
  transform: translateY(-50px);
}

.vanilla {
  transform: translateY(-200px);
}

.choco {
  transform: translateY(-350px);
}

.mint {
  transform: translateY(-520px);
}

.cone {
  transform: translateY(-635px);
}

@keyframes forwards {

  0% {
    transform: translateY(-50em);
  }

  40% {
    transform: translateY(-25em);
  }

  80% {
    transform: translateY(-10em);
  }

  100% {
    transform: translate(0em);
  }
}

.ice-cherry {
  animation: forwards 1s 2s linear;
}

.ice-vanilla {
  animation: forwards 1s 2s linear;
}

.ice-choco {
  animation: forwards 1s 2s linear;
}

.ice-mint {
  animation: forwards 1s 2s linear;
}

.ice-cone {
  animation: forwards 1s 2s linear;
}
